[phases.setup]
nixPkgs = ["nodejs_20", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node scripts/generate-config.js && npx prisma db push --skip-generate && NODE_ENV=production node .next/standalone/server.js"