[build]
builder = "nixpacks"

[build.nixpacksPlan]
providers = ["node"]

[build.nixpacksPlan.phases.setup]
nixPkgs = ["nodejs_20"]

[deploy]
startCommand = "node scripts/generate-config.js && npx prisma db push --skip-generate && NODE_ENV=production node .next/standalone/server.js"
