[build]
builder = "dockerfile"

[deploy]
startCommand = "bunx prisma db push && bun server.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[[services]]
name = "idea-hub"
